
// font
$font-main: 'Nunito Sans', sans-serif;


// main colors
$color-main: #15141C;
$color-secondary: #1C1D24;
$bg-secondary: #1C1C27;


// purple colors

$purple1: #C5D1FF;
$purple2: #6e728c18;
$purple3: #8d8ccd;
$purple4: #a09fe7;
$purple5: #3b3b4e;


// gray colors

$gray1: #191922;


// white colors

$color-white1: #DDDAE5;
$color-white1-2: #f0f0f03d;
$color-white1-3: #f0f0f071;
$color-white1-4: #f0f0f03b;

$white-dark1-1: #84828a;
$white-dark1-2: #dcdde09e;
$white-dark1-3: #7b7980;
$white-dark1-4: #3E3D40;


// aqi colors

$green: #89E589;
$aqi-text1: #1F331F;

$yellow1: #E5DD89;
$aqi-text2: #33311F;

$yellow2: #E5C089;
$aqi-text3: #332B1F;

$salmon1: #E58989;
$aqi-text4: #331F1F;

$pink1: #E589B7;
$aqi-text5: #442c37;


// transition
$transition-short: 100ms ease;


// shadows

$shadow1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
$shadow2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

