
// font
$font-main: 'Nunito Sans', sans-serif;


// main colors
$color-main: #15141C;
$color-secondary: #1C1D24;


// backgrounds
$bg-main: #24284766;
$bg-secondary: #1C1C27;


// color-blue
$blue-color1: #6e728cbf;
$blue-color1-1: #6e728ca6;
$blue-color1-2:#6e728ca6;
$blue-color1-3: #6E728D;

$blue-color1-4: #24284744;
$blue-color1-5: #5f689538;

$blue-color2: #8E93B6;
$blue-color2-1: #8f94b785;

$blue-color3: #DCE4FF;
$blue-color4: #C5D1FF;
$blue-color5: #E1E5F4;
$blue-color6: #73758785;
$blue-color7: #191922;


// color-white
$color-white1: #DDDAE5;
$color-white1-1: #ABABAB;
$color-white1-2: #f0f0f03d;
$color-white1-3: #f0f0f071;

$white-light1: #FFFFFF;
$white-light2: #ffffffde;
$white-light3: #ffffff5e;

$white-dark1: #DCDDE0;
$white-dark1-1: #84828a;
$white-dark1-2: #dcdde09e;


$yellow1: #ffceac;
$yellow2: #FFF8BB;

$pink1: #ffbdec;
$pink2: #ff9d9d;

$green: #D0FFC9;


// transition
$transition-short: 100ms ease;


// shadows

$shadow1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
$shadow2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

